<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<title>
		html Viewer
	</title>
</head>
<body>
	<form action='url_handler'>
		<label for='url'>Please input a url:
			<input class='urlBox' type='text' id='url' name='url'>
			<input class='submit' type='submit'>
		</label>
	</form>
	<div>
	</div>
	<script>
		function displayHtml(evt){
			evt.preventDefault();
			url = $('#url').val();
			$.get("/url_handler", {'url': url}, function(data){
				console.log(data);
			});
		}
		$('.submit').click(displayHtml);
	</script>
</body>
</html>
