<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<title>
		html Viewer
	</title>
</head>
<body>
	<form action='url_handler'>
		<label for='url'>Please input a url:
			<input class='urlBox' type='text' id='url' name='url' value="http://">
			<input class='submit' type='submit'>
		</label>
	</form>
	<div class="after_click" style="display: none">
		<h1>Website: <span id="website"></span></h1>
		<h2>Source HTML:</h2>
	</div>
	<div id="sourcehtml">
	</div>
	<script>
		function displayHtml(evt){
			evt.preventDefault();
			url = $('#url').val();
			display_url = url.slice(7);
			$('.after_click').css('display', 'block');
			$('#website').html(display_url);
			$.get("/url_handler", {'url': url}, function(data){
				$('#sourcehtml').html(data);
			});
		}
		$('.submit').click(displayHtml);
	</script>
</body>
</html>
